fastapi==0.116.0
uvicorn
levenshtein
phonemizer
torch
torchaudio
transformers
librosa
soundfile
python-multipart
protobuf
sentencepiece
torchaudio
accelerate
moshi==0.2.11
torchaudio
sphn
llama-cpp-python
TTS
pydub
